{% extends "base.html" %}
{% block content %}
<h2>Welcome To The Test</h2>
<hr>
<h3>Time Reamining</h3> <h4><span id="timer"> </span> </h4>
<form method="POST" action="paper_done" id="myForm">
  {% csrf_token %}
  {% for q in questions %}
  <hr>
    <lable>Question : </lable><p>{{q.question_text}}</p><br>
      <input name={{q.id}} value = {{q.op1_text}} type="radio" class="form-group" checked="checked"> {{q.op1_text}}<br>
      <input name={{q.id}} value = {{q.op2_text}} type="radio" class="form-group"> {{q.op2_text}}<br>
      <input name={{q.id}} value = {{q.op3_text}} type="radio" class="form-group"> {{q.op3_text}}<br>
      <input name={{q.id}} value = {{q.op4_text}} type="radio" class="form-group"> {{q.op4_text}}<br>
  <hr>
  {% endfor %}
  <input type="hidden" name="paper_id" value={{paperID}}>
  <button type="submit">Submit-Test<i class="fas fa-plus"></i></button>

</form>
<script>

window.onload=function(){ 
    var counter = 600;
    var interval = setInterval(function() {
        counter--;
        $("#timer").text(`${parseInt(counter/60)} Min ${counter%60} Sec`);
        if (counter <= 0) {
            redirect();
            clearInterval(interval);
        }
    }, 1000);

};

function redirect() {
    document.querySelector("#myForm").submit();
}


</script>
{% endblock %}